<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <form id="main-form" action="/login" method="post">
        <h2>Login</h2>
        <div th:if="${param.keySet().contains('logout')}">
            <p>Successfully logged out</p>
        </div>
        <div th:if="${param.keySet().contains('error')}">
            <p>Wrong credentials</p>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="field">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="field">
        </div>
        <button type="submit" id="submit">Submit</button>
    </form>
    <script type="application/javascript" src="/js/login.js"></script>
</body>
</html>