<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form id="main-form">
        <h2>Register</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="field">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="field">
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm password</label>
            <input type="password" id="confirm-password" name="confirm-password" class="field">
        </div>
        <button type="submit" id="submit">Submit</button>
    </form>
    <script type="application/javascript" src="/js/register.js"></script>
</body>
</html>